@mixin line-height-fix() {
  font-size: 9pt;
  line-height: 1.4em;
}

code.source, code.example {
  @include code-box;
  @include line-height-fix;
  padding: 0.5em;
  margin-bottom: $element-margin;  
}

/* js-replaced version */
.syntaxhighlighter {
  @extend code.source;
  
  /* revert no-js settings */
  background: #fff;
  padding: 0; 
   
  table {
    width: 100%;
    
    td {
      border: 1px solid #fff; /* rebuild double-border effect */
    }
  }
  
  .gutter {
    background-color: $codegrey;
    color: darken($codegrey, 20%);
    padding: 0.5em;
    border-right: 1px solid darken($codegrey, 10%);
    text-align: right;
    
    .line {
      @include line-height-fix;
    }
  }
  
  .code {
    padding: 0.5em 0;
    width: 100%;
    
    .line {
      padding: 0 0.5em;
      &:hover { background: #f5f5f5; }
    }
  }
  
  &.example {
    background: #f3f3f3;
    .line {
      padding-left: 1em;
      &:hover { background: #efefef; }
    }
  }
  
  /* syntaxhighlighting settings */
  .spaces {}
  .keyword { font-weight: bold; }
  .plain {}
  .string { color: $orange; }
  .comments { color: #998; font-style: italic; }
  .comments a { color: #998; }
  .variable {}
  .functions {}
  .constants { color: $blue; }
  .script {}
}