$default-fonts: Arial, sans-serif;
$font-size: 10pt;


/* Global Colors */
$blue: #4183C2;
$orange: #D84B0F;
$grey: #333;
$lightgrey: #a0a0a0;
$codegrey: #F3F3F3;

/* Header-colors */
$button-color-from: #88B5E2;
$button-color-to: darken($button-color-from, 15%); /*#4096ee;*/

/* Content-colors */
$signature-color: lighten($blue,45%);
$flag-color: lighten($orange,45%);

/* Dimensions */
$pagesize: 1000px;
$page-indent: 20px;
$page-padding: 20px;
$box-spacing: 12px;
$radius: 10px;
$element-margin: 1.33em;

@import 'resets';
@import 'print';
@import 'helpers';

@mixin terminal() {
  font-family: "Consolas", "monospace";
}

@mixin page-center() {
  @include center;
  max-width: $pagesize;
}

@mixin headline() {
  font-family: 'Terminal Dosis Light', 'Helvetica', 'Arial', 'sans-serif';      
  font-weight: normal;
  text-shadow: 1px 1px #fff;
}

@mixin page-padding() {
  padding-left: $page-padding;
  padding-right: $page-padding;
}

@mixin typography() { 
  h1 { 
    font-size: 24pt; 
    color: $orange;
  }
  h2 { 
    font-size: 16pt; 
    margin: 1.25em 0 0.25em;
    border-bottom: 1px solid #EFEFEF;
  }
  h3 { 
    font-size: $font-size; 
    font-weight: bold;
  }
  p {
    line-height: $golden_ratio*1em;
    margin: 0.5em 0 1.33em;
  }
}


@mixin reset-fonts() {
  font-family: $default-fonts;
  font-size: $font-size;
}

@mixin code-box() {
  @include double-border(1px, #ffffff, darken($codegrey, 10%));
  @include terminal;
  display: block;
  background: $codegrey;
}

@mixin signature-box($color:$signature-color, $fontcolor:$signature-color, $terminal:true) {
  @if $terminal == true {
    @include terminal;
  }
  @include border-radius($radius/2);
  display: block;
  background: $color;
  border: 1px solid darken($color, 8%);
  color: darken($fontcolor, 40%);
  
  padding: 0.4em 1em;
}

@import 'header';
@import 'footer';
@import 'tooltip';
@import 'highlighter';

body, select, input, textarea {
  @include reset-fonts;
  background-color: #FBFBFB;
  color: #444;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

/* No text-shadow: twitter.com/miketaylr/status/12228805301 */
::-moz-selection { background: $orange; color:#fff; text-shadow: none; }
::selection { background: $orange; color:#fff; text-shadow: none; }

a {
  color: $blue;  
  text-decoration: none;
  
  &:active, &:visited { color: $blue; }
  &:hover { color: $blue; text-decoration: underline; } 
}

.icon {
  @each $icon in function, object, constructor, prototype, arrow_right, arrow_up, arrow_down {    
    &.#{$icon} { 
      background: url(../img/#{$icon}.png) no-repeat left center;
      padding-left: 24px;
    }
  }
}

.level-one-heading {
  @include headline;
  padding-top: $page-padding;
  margin-bottom: $box-spacing;
  font-size: 40pt;
}

div#main {
  @include gradient(#f2f2f2, #ffffff, 0px, 40px);
  @include page-center;
  @include typography;
  @include clearfix;
  @include border-radius(10px 10px 0 0);

  margin-top: -$page-indent;

  
  box-shadow: 0px -0px 5px rgba(0,0,0,0.1);

  border-top: 1px solid #eee;
  
  > * {
    @include page-padding;
  }
  
  header h1 {
    @extend .level-one-heading;
    
    .flag {
      @include signature-box($flag-color);
      @include float(right);
      font-size: 8pt;
      text-shadow: none;
    }
  }
}


div#main nav.sidebar {

  @include float(right);
  @include code-box;
  @include border-radius(5px);
      
  margin: 2*$page-padding 0 $box-spacing $box-spacing;
  padding: 0;  
  font-size: 8pt;
  color: #999;
  
  > * {
    padding: 8px;
    margin: 0;
  }
  
  > * + * {
    @include double-border(1px, #ffffff, darken($codegrey, 10%), top);
  }
  
  h3 {      
    text-transform: uppercase;
    padding-bottom: 0.5em;
    font-size: 8pt;
  }
  
  .hierarchy {
    list-style: none;
         
    ul { 
      @include reset-list; 
      padding-left: 1em;
    }
    
    /* first node */
    > ul {
      padding-left: 0;  
    }
    
    .this > a { font-weight: bold; }
  }
  
  .method-list ul {
    @include reset-list;
  }
  
  .subsection {
    p {
      margin: 0;
    }
  }
}


div#main .body {

  > section {
    margin-bottom: $box-spacing;
    
    > h2 {
      margin-top: $box-spacing;
      margin-bottom: $box-spacing / $golden_ratio;
      font-size: 14pt;      
    }
  }
  
  .summary {
    @include reset-list;
    @include clearfix;
    
    margin-bottom: $element-margin;
    
    li { @include float(left); }
    
    a {
      @include signature-box;
      margin: 0.25em;
      
      &:hover {
        text-decoration: none;
        color: darken($signature-color, 50%);
      }
    }    
  }
  
  
  .section {
    padding-bottom: $box-spacing;    
  }
  
  .subsection { 
      
      > ul { 
        margin-left: 0;
        border: 1px solid #efefef;
        
        li {
          list-style: none;
          padding: 5px 15px;
        }
        
        /* all but first li */
        > * + li {
          border-top: 1px solid #efefef;
        }
        
        ul, p {
          margin: 0;
        }
      }  
      
      h4 {        
        font-weight: bold;
        display: inline;
      }
      
      .types {
        @include terminal;
        padding: 0 0.2em;
      }    
    }
  
  h3.source {
    @extend .icon.arrow_down; 
    cursor: pointer;   
    &.collapsed { 
      @extend .icon.arrow_right; 
      border-bottom: 1px solid darken($codegrey, 10%);
      margin-bottom: $element-margin;
    }
  }
  
  .signature {
    @include signature-box;
    color: #000;
    font-size: 12pt;
    font-weight: normal;
    margin-bottom: $element-margin;
    
    &.constructor {
      @include signature-box($flag-color);
      color: #000;
    }
    
    .name {
      font-weight: bold;
      padding-left: 0.2em;
    }
    
    .params {
      padding: 0 0.2em;
      
      .param {
        cursor: help;
      }        
    }
  }
  

  .overload {
    margin-bottom: 3em;
  }
}

div#main .notification  {

  display: table;
  
  section {
    @include signature-box(#f3f3f3, #ccc, false);
    
    margin-bottom: 0.5em;
    
    &.deprecated {
      @include signature-box(#ccc, #ccc, false);
    }
    
    &.todo {
      @include signature-box(#fef377, #ee3, false);
    }
    
    &.warn {
      @include signature-box(#f54, #e63, false);
    }
    
    ul {
      @include reset-list;
    }
    
    p {
      margin: 0 0 0.25em;
    }
    
    pre {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0.25em;
    }
  }

}


div#main .documentation {
  
  h1 { @extend .level-one-heading; }
  
  nav {
  
    .table-of-contents {
      
      @include reset-fonts;
      
      ul { 
        @include reset-list; 
        padding-left: 2em;
        margin: 0.25em 0 0.5em;
      }
      
      ul ul li {
        list-style: decimal-leading-zero;
      }
      
      > ul { padding-left: 0; }
      
      li {
        margin-bottom: 0.25em;        
      }
    }
  
  }  
}

.api-index {
  .api-list {
    @include columns(2);
    
    ul {
      @include reset-list;
    }
  }
}

/* API-Treebrowser */
$iconsize: 16px;
.treeview {

  ul {
    @include reset-list;
    margin: 4px 0 0 0;
  }

  li { 
	  margin: 0;
	  padding: 3px 0pt 3px $iconsize;	  
	  a {
	  
	    display: block;
	    padding-left: $iconsize + 5px;
	    height: $iconsize;
	  }
  }  
  li.function > a { @extend .icon.function }
  li.object > a { @extend .icon.object }
  
  .hitarea {
    @include float(left);
    height: $iconsize;
	  width: $iconsize;
	  margin-left: -$iconsize;
	  cursor: pointer;
	  background: url(../img/bullet_toggle_minus.png) no-repeat left center;
  }
  .expandable-hitarea { background-image: url(../img/bullet_toggle_plus.png); }
}