<% unless tokens.nil? 
  opts = tokens.first.html
  opts[:class] = (opts[:class] || "") + " subsection"
%>
<section <%= attributize opts %>>
  <%= tag :h3, tokens.first %>
  <ul>
    <%= render :partial => 'tokens/default_token', :collection => tokens %>
  </ul>
</section>
<% end %>