@charset "UTF-8";
/* Global Colors */
/* Header-colors */
/*#4096ee;*/
/* Content-colors */
/* Dimensions */
/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.33em 0;
  padding: 0; }

/* Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/ */
body {
  font: 13px/1.231 Arial, sans-serif;
  *font-size: small; }

/* Hack retained to preserve specificity */
/* Normalize monospace sizing: en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
  white-space: pre-wrap; }

/* 1) Always force a scrollbar in non-IE 
   2) Remove iOS text size adjust without disabling user zoom: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #FF5E99; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

ul, ol {
  margin-left: 2em;
  margin-bottom: 1.33em; }

ol {
  list-style-type: decimal; }

dl {
  margin-bottom: 1.33em; }

/* Remove margins for navigation lists */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

b, strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px; }

.oldie legend {
  *margin-left: -7px; }

/* 1) Make inputs and buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
   2) WebKit browsers add a 2px margin outside the chrome of form elements. 
      Firefox adds a 1px margin above and below textareas 
   3) Set font-size to match <body>'s, and font-family to sans-serif 
   4) Align to baseline */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline; }

/* 1) Remove default scrollbar in IE: www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/
   2) Align to text-top */
textarea {
  overflow: auto;
  vertical-align: text-top; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

/* Remove extra padding and inner border in Firefox */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

/* Bicubic resizing in IE7 for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.oldie img {
  -ms-interpolation-mode: bicubic; }

/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/* Kudos to http://www.colorzilla.com/gradient-editor/ */
/* inspired by http://docs.sencha.com/ext-js/4-0/ */
#header {
  background: #f0f0f0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fcfcfc 0px, #f0f0f0 200px);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0px, #fcfcfc), color-stop(200px, #f0f0f0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcfcfc 0px, #f0f0f0 200px);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcfcfc 0px, #f0f0f0 200px);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #fcfcfc 0px, #f0f0f0 200px);
  /* IE10+ */
  background: linear-gradient(top, #fcfcfc 0px, #f0f0f0 200px);
  /* W3C */
  border-bottom: 1px solid #dfdfdf;
  box-shadow: inset 0 -1px 0 #f6f6f6;
  display: block;
  overflow: hidden;
  padding-bottom: 30px; }
  #header .search-results {
    display: none; }
  #header.collapsed .browsers {
    display: none; }
  #header div.wrapper {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    overflow: hidden; }
  #header nav {
    display: block;
    overflow: hidden;
    position: relative; }
    #header nav > * {
      padding: 10px; }
    #header nav h1 {
      display: block;
      float: left;
      font-family: 'Terminal Dosis Light', 'Helvetica', 'Arial', 'sans-serif';
      font-weight: normal;
      text-shadow: 1px 1px #fff;
      font-weight: bold;
      font-size: 24pt; }
    #header nav form {
      display: block;
      float: right; }
    #header nav input#search {
      -moz-border-radius: 10px;
      /* Firefox */
      -webkit-border-radius: 10px;
      /* Safari, Chrome */
      border-radius: 10px;
      /* CSS3 */
      outline: none;
      padding: 0.2em 0.5em; }
    #header nav #page-menu {
      display: block;
      float: left;
      margin-left: 20%;
      padding: 0; }
      #header nav #page-menu li {
        display: block;
        float: left;
        /* rounded corners */ }
        #header nav #page-menu li:first-child a {
          -moz-border-radius: 0 0 0 10px;
          /* Firefox */
          -webkit-border-radius: 0 0 0 10px;
          /* Safari, Chrome */
          border-radius: 0 0 0 10px;
          /* CSS3 */ }
        #header nav #page-menu li:last-child a {
          -moz-border-radius: 0 0 10px 0;
          /* Firefox */
          -webkit-border-radius: 0 0 10px 0;
          /* Safari, Chrome */
          border-radius: 0 0 10px 0;
          /* CSS3 */ }
      #header nav #page-menu a {
        background: #4a8fd3;
        /* Old browsers */
        background: -moz-linear-gradient(top, #88b5e2 0%, #4a8fd3 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88b5e2), color-stop(100%, #4a8fd3));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #88b5e2 0%, #4a8fd3 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #88b5e2 0%, #4a8fd3 100%);
        /* Opera11.10+ */
        background: -ms-linear-gradient(top, #88b5e2 0%, #4a8fd3 100%);
        /* IE10+ */
        background: linear-gradient(top, #88b5e2 0%, #4a8fd3 100%);
        /* W3C */
        display: block;
        padding: 0.5em 1em;
        color: #fff;
        text-shadow: 1px 1px #2e75bd;
        border-right: 1px solid #4a8fd3;
        border-left: 1px solid #88b5e2;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
        #header nav #page-menu a:hover {
          background: #3682ce;
          /* Old browsers */
          background: -moz-linear-gradient(top, #5f9bd8 0%, #3682ce 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5f9bd8), color-stop(100%, #3682ce));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #5f9bd8 0%, #3682ce 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #5f9bd8 0%, #3682ce 100%);
          /* Opera11.10+ */
          background: -ms-linear-gradient(top, #5f9bd8 0%, #3682ce 100%);
          /* IE10+ */
          background: linear-gradient(top, #5f9bd8 0%, #3682ce 100%);
          /* W3C */
          text-decoration: none;
          border-left: 1px solid transparent; }
  #header .col50 section {
    display: block;
    float: left;
    margin-top: 15px;
    width: 49.5%; }
    #header .col50 section > h1 {
      font-family: 'Terminal Dosis Light', 'Helvetica', 'Arial', 'sans-serif';
      font-weight: normal;
      text-shadow: 1px 1px #fff;
      font-size: 16pt;
      padding: 0 0 0 0.5em;
      margin-bottom: 0.5em; }
    #header .col50 section > ul {
      -moz-border-radius: 10px;
      /* Firefox */
      -webkit-border-radius: 10px;
      /* Safari, Chrome */
      border-radius: 10px;
      /* CSS3 */
      border: 1px solid #eee;
      padding: 0;
      margin: 0;
      overflow: hidden;
      /*overflow-y: scroll;*/ }
      #header .col50 section > ul::-webkit-scrollbar {
        width: 7px;
        height: 9px; }
      #header .col50 section > ul::-webkit-scrollbar-button:start:decrement, #header .col50 section > ul .iScroll ::-webkit-scrollbar-button:end:increment {
        display: block;
        height: 0;
        background-color: transparent; }
      #header .col50 section > ul::-webkit-scrollbar-track-piece {
        -webkit-border-radius: 0;
        -webkit-border-bottom-right-radius: 4px;
        -webkit-border-bottom-left-radius: 4px; }
      #header .col50 section > ul::-webkit-scrollbar-thumb:vertical {
        height: 50px;
        background-color: rgba(0, 0, 0, 0.15);
        -webkit-border-radius: 4px; }
      #header .col50 section > ul::-webkit-scrollbar-thumb:horizontal {
        width: 50px;
        background-color: rgba(0, 0, 0, 0.15);
        -webkit-border-radius: 4px; }
  #header .col50 section + section {
    margin-left: 1%; }
  #header .docs ul {
    display: block;
    overflow: hidden; }
  #header .docs li {
    display: block;
    float: left;
    width: 50%; }
  #header .docs a {
    display: block;
    padding: 0.5em 1em; }
  #header a.collapse, #header a.expand {
    display: block;
    float: right;
    color: #a0a0a0;
    height: 16px;
    padding-right: 21px;
    background: url(../img/arrow_up.png) no-repeat center right; }
    #header a.collapse.expand, #header a.expand.expand {
      background-image: url(../img/arrow_down.png); }

#header.search {
  background: #9dc2e7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dae8f6 0px, #9dc2e7 200px);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0px, #dae8f6), color-stop(200px, #9dc2e7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dae8f6 0px, #9dc2e7 200px);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dae8f6 0px, #9dc2e7 200px);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #dae8f6 0px, #9dc2e7 200px);
  /* IE10+ */
  background: linear-gradient(top, #dae8f6 0px, #9dc2e7 200px);
  /* W3C */
  /*color: #F4F7F9;*/
  /* Hide Apibrowser and docs */ }
  #header.search .browsers {
    display: none; }
  #header.search .search-results {
    display: block; }
  #header.search section h1 {
    padding-left: 26px;
    text-shadow: none;
    color: #153556; }
  #header.search a.collapse, #header.search a.expand {
    visibility: hidden; }
  #header.search .col50 section > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 15px;
    border-color: #88b5e2;
    overflow: visible;
    /* remove scrollbars */ }
    #header.search .col50 section > ul li {
      padding: 0.5em 1em;
      cursor: pointer;
      border-bottom: 1px solid #88b5e2; }
      #header.search .col50 section > ul li a {
        color: #000;
        font-weight: bold; }
      #header.search .col50 section > ul li .namespace {
        color: rgba(0, 0, 0, 0.3); }
    #header.search .col50 section > ul li:hover {
      background: rgba(255, 255, 255, 0.18); }
    #header.search .col50 section > ul li.last {
      border: none; }

#footer {
  color: #a0a0a0;
  margin-top: 20px;
  margin-bottom: 20px; }
  #footer .wrapper {
    display: block;
    margin: 0 auto;
    max-width: 1000px; }

.tooltip {
  /*@include double-border(1px, #fff, #ccc);*/
  background: #555555;
  /* Old browsers */
  background: -moz-linear-gradient(top, #333333 0%, #555555 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #555555));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #333333 0%, #555555 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #333333 0%, #555555 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #333333 0%, #555555 100%);
  /* IE10+ */
  background: linear-gradient(top, #333333 0%, #555555 100%);
  /* W3C */
  font-family: Arial, sans-serif;
  font-size: 10pt;
  -moz-border-radius: 5px;
  /* Firefox */
  -webkit-border-radius: 5px;
  /* Safari, Chrome */
  border-radius: 5px;
  /* CSS3 */
  display: none;
  position: absolute;
  padding: 0.5em;
  max-width: 200px;
  z-index: 50;
  font-size: 9pt;
  color: #eee;
  border: 1px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
  .tooltip a {
    color: #8eb5db; }
  .tooltip .types {
    font-family: "Consolas", "monospace";
    padding: 0 0.2em; }

code.source, .syntaxhighlighter, code.example {
  box-shadow: inset 0px 0px 0px 1px white;
  border: 1px solid #d9d9d9;
  font-family: "Consolas", "monospace";
  display: block;
  background: #f3f3f3;
  font-size: 9pt;
  line-height: 1.6em;
  padding: 0.5em;
  margin-bottom: 1.33em; }

/* js-replaced version */
.syntaxhighlighter {
  /* revert no-js settings */
  background: #fff;
  padding: 0;
  /* syntaxhighlighting settings */ }
  .syntaxhighlighter table {
    width: 100%; }
    .syntaxhighlighter table td {
      border: 1px solid #fff;
      /* rebuild double-border effect */ }
  .syntaxhighlighter .gutter {
    background-color: #f3f3f3;
    color: silver;
    padding: 0.5em;
    border-right: 1px solid #d9d9d9;
    text-align: right; }
    .syntaxhighlighter .gutter .line {
      height: 1.6em; }
  .syntaxhighlighter .code {
    padding: 0.5em 0;
    width: 100%; }
    .syntaxhighlighter .code .line {
      height: 1.6em;
      padding: 0 0.5em; }
      .syntaxhighlighter .code .line:hover {
        background: #f5f5f5; }
  .syntaxhighlighter.example {
    background: #f3f3f3; }
    .syntaxhighlighter.example .line {
      padding-left: 1em; }
      .syntaxhighlighter.example .line:hover {
        background: #efefef; }
  .syntaxhighlighter .keyword {
    font-weight: bold; }
  .syntaxhighlighter .string {
    color: #d84b0f; }
  .syntaxhighlighter .comments {
    color: #998;
    font-style: italic; }
  .syntaxhighlighter .comments a {
    color: #998; }
  .syntaxhighlighter .constants {
    color: #4183c2; }

body, select, input, textarea {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  background-color: #FBFBFB;
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

/* No text-shadow: twitter.com/miketaylr/status/12228805301 */
::-moz-selection {
  background: #d84b0f;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #d84b0f;
  color: #fff;
  text-shadow: none; }

a {
  color: #4183c2;
  text-decoration: none; }
  a:active, a:visited {
    color: #4183c2; }
  a:hover {
    color: #4183c2;
    text-decoration: underline; }

.icon.function, .treeview li.function > a {
  background: url(../img/function.png) no-repeat left center;
  padding-left: 24px; }
.icon.object, .treeview li.object > a {
  background: url(../img/object.png) no-repeat left center;
  padding-left: 24px; }
.icon.constructor {
  background: url(../img/constructor.png) no-repeat left center;
  padding-left: 24px; }
.icon.prototype {
  background: url(../img/prototype.png) no-repeat left center;
  padding-left: 24px; }
.icon.arrow_right, div#main .body h3.source.collapsed {
  background: url(../img/arrow_right.png) no-repeat left center;
  padding-left: 24px; }
.icon.arrow_up {
  background: url(../img/arrow_up.png) no-repeat left center;
  padding-left: 24px; }
.icon.arrow_down, div#main .body h3.source {
  background: url(../img/arrow_down.png) no-repeat left center;
  padding-left: 24px; }

.level-one-heading, div#main header h1, div#main .documentation h1 {
  font-family: 'Terminal Dosis Light', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: normal;
  text-shadow: 1px 1px #fff;
  padding-top: 20px;
  margin-bottom: 12px;
  font-size: 40pt; }

div#main {
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f2f2f2 0px, white 40px);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0px, #f2f2f2), color-stop(40px, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f2f2f2 0px, white 40px);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f2f2f2 0px, white 40px);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f2f2f2 0px, white 40px);
  /* IE10+ */
  background: linear-gradient(top, #f2f2f2 0px, white 40px);
  /* W3C */
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  display: block;
  overflow: hidden;
  -moz-border-radius: 10px 10px 0 0;
  /* Firefox */
  -webkit-border-radius: 10px 10px 0 0;
  /* Safari, Chrome */
  border-radius: 10px 10px 0 0;
  /* CSS3 */
  margin-top: -20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #eee; }
  div#main h1 {
    font-size: 24pt;
    color: #d84b0f; }
  div#main h2 {
    font-size: 16pt;
    margin: 1.25em 0 0.25em;
    border-bottom: 1px solid #EFEFEF; }
  div#main h3 {
    font-size: 10pt;
    font-weight: bold; }
  div#main p {
    line-height: 1.618em;
    margin: 0.5em 0 1.33em; }
  div#main > * {
    padding-left: 20px;
    padding-right: 20px; }
  div#main header h1 .flag {
    font-family: "Consolas", "monospace";
    -moz-border-radius: 5px;
    /* Firefox */
    -webkit-border-radius: 5px;
    /* Safari, Chrome */
    border-radius: 5px;
    /* CSS3 */
    display: block;
    background: #fcded1;
    border: 1px solid #f9c2ab;
    color: #5490c8;
    padding: 0.4em 1em;
    display: block;
    float: right;
    font-size: 8pt;
    text-shadow: none; }

div#main nav.sidebar {
  display: block;
  float: right;
  box-shadow: inset 0px 0px 0px 1px white;
  border: 1px solid #d9d9d9;
  font-family: "Consolas", "monospace";
  display: block;
  background: #f3f3f3;
  -moz-border-radius: 5px;
  /* Firefox */
  -webkit-border-radius: 5px;
  /* Safari, Chrome */
  border-radius: 5px;
  /* CSS3 */
  margin: 40px 0 12px 12px;
  padding: 0;
  font-size: 8pt;
  color: #999; }
  div#main nav.sidebar > * {
    padding: 8px;
    margin: 0; }
  div#main nav.sidebar > * + * {
    border-top: 1px solid #d9d9d9;
    box-shadow: inset 0 1px 0 white; }
  div#main nav.sidebar h3 {
    text-transform: uppercase;
    padding-bottom: 0.5em;
    font-size: 8pt; }
  div#main nav.sidebar .hierarchy {
    list-style: none;
    /* first node */ }
    div#main nav.sidebar .hierarchy ul {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-left: 1em; }
    div#main nav.sidebar .hierarchy > ul {
      padding-left: 0; }
    div#main nav.sidebar .hierarchy .this > a {
      font-weight: bold; }
  div#main nav.sidebar .method-list ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  div#main nav.sidebar .subsection p {
    margin: 0; }

div#main .body > section {
  margin-bottom: 12px; }
  div#main .body > section > h2 {
    margin-top: 12px;
    margin-bottom: 7.417px;
    font-size: 14pt; }
div#main .body .summary {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
  margin-bottom: 1.33em; }
  div#main .body .summary li {
    display: block;
    float: left; }
  div#main .body .summary a {
    font-family: "Consolas", "monospace";
    -moz-border-radius: 5px;
    /* Firefox */
    -webkit-border-radius: 5px;
    /* Safari, Chrome */
    border-radius: 5px;
    /* CSS3 */
    display: block;
    background: #eff4fa;
    border: 1px solid #d0e0f0;
    color: #5490c8;
    padding: 0.4em 1em;
    margin: 0.25em; }
    div#main .body .summary a:hover {
      text-decoration: none;
      color: #3976b1; }
div#main .body .section {
  padding-bottom: 12px; }
div#main .body .subsection > ul {
  margin-left: 0;
  border: 1px solid #efefef;
  /* all but first li */ }
  div#main .body .subsection > ul li {
    list-style: none;
    padding: 5px 15px; }
  div#main .body .subsection > ul > * + li {
    border-top: 1px solid #efefef; }
  div#main .body .subsection > ul ul, div#main .body .subsection > ul p {
    margin: 0; }
div#main .body .subsection h4 {
  font-weight: bold;
  display: inline; }
div#main .body .subsection .types {
  font-family: "Consolas", "monospace";
  padding: 0 0.2em; }
div#main .body h3.source {
  cursor: pointer; }
  div#main .body h3.source.collapsed {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 1.33em; }
div#main .body .signature {
  font-family: "Consolas", "monospace";
  -moz-border-radius: 5px;
  /* Firefox */
  -webkit-border-radius: 5px;
  /* Safari, Chrome */
  border-radius: 5px;
  /* CSS3 */
  display: block;
  background: #eff4fa;
  border: 1px solid #d0e0f0;
  color: #5490c8;
  padding: 0.4em 1em;
  color: #000;
  font-size: 12pt;
  font-weight: normal;
  margin-bottom: 1.33em; }
  div#main .body .signature.constructor {
    font-family: "Consolas", "monospace";
    -moz-border-radius: 5px;
    /* Firefox */
    -webkit-border-radius: 5px;
    /* Safari, Chrome */
    border-radius: 5px;
    /* CSS3 */
    display: block;
    background: #fcded1;
    border: 1px solid #f9c2ab;
    color: #5490c8;
    padding: 0.4em 1em;
    color: #000; }
  div#main .body .signature .name {
    font-weight: bold;
    padding-left: 0.2em; }
  div#main .body .signature .params {
    padding: 0 0.2em; }
    div#main .body .signature .params .param {
      cursor: help; }
div#main .body .overload {
  margin-bottom: 3em; }

div#main .notification {
  display: table; }
  div#main .notification section {
    -moz-border-radius: 5px;
    /* Firefox */
    -webkit-border-radius: 5px;
    /* Safari, Chrome */
    border-radius: 5px;
    /* CSS3 */
    display: block;
    background: #f3f3f3;
    border: 1px solid #dfdfdf;
    color: #666666;
    padding: 0.4em 1em;
    margin-bottom: 0.5em; }
    div#main .notification section.deprecated {
      -moz-border-radius: 5px;
      /* Firefox */
      -webkit-border-radius: 5px;
      /* Safari, Chrome */
      border-radius: 5px;
      /* CSS3 */
      display: block;
      background: #cccccc;
      border: 1px solid #b8b8b8;
      color: #666666;
      padding: 0.4em 1em; }
    div#main .notification section.todo {
      -moz-border-radius: 5px;
      /* Firefox */
      -webkit-border-radius: 5px;
      /* Safari, Chrome */
      border-radius: 5px;
      /* CSS3 */
      display: block;
      background: #fef377;
      border: 1px solid #feef4e;
      color: #4e4e07;
      padding: 0.4em 1em; }
    div#main .notification section.warn {
      -moz-border-radius: 5px;
      /* Firefox */
      -webkit-border-radius: 5px;
      /* Safari, Chrome */
      border-radius: 5px;
      /* CSS3 */
      display: block;
      background: #ff5544;
      border: 1px solid #ff301b;
      color: #4e1a07;
      padding: 0.4em 1em; }
    div#main .notification section ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    div#main .notification section p {
      margin: 0 0 0.25em; }
    div#main .notification section pre {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0.25em; }

div#main .documentation nav .table-of-contents {
  font-family: Arial, sans-serif;
  font-size: 10pt; }
  div#main .documentation nav .table-of-contents ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 2em;
    margin: 0.25em 0 0.5em; }
  div#main .documentation nav .table-of-contents ul ul li {
    list-style: decimal-leading-zero; }
  div#main .documentation nav .table-of-contents > ul {
    padding-left: 0; }
  div#main .documentation nav .table-of-contents li {
    margin-bottom: 0.25em; }

.api-index .api-list {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px; }
  .api-index .api-list ul {
    list-style: none;
    margin: 0;
    padding: 0; }

/* API-Treebrowser */
.treeview ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 4px 0 0 0; }
.treeview li {
  margin: 0;
  padding: 3px 0pt 3px 16px; }
  .treeview li a {
    display: block;
    padding-left: 21px;
    height: 16px; }
.treeview .hitarea {
  display: block;
  float: left;
  height: 16px;
  width: 16px;
  margin-left: -16px;
  cursor: pointer;
  background: url(../img/bullet_toggle_minus.png) no-repeat left center; }
.treeview .expandable-hitarea {
  background-image: url(../img/bullet_toggle_plus.png); }
