<%= tag :h3, tokens.first, tokens.first.html %></h3>
<ul>
<% tokens.each do |token| %>

  <li>
    <h4><%= token.name %></h4>
    <div><%=replace_links token.content %></div>
  </li>  

<% end %>
</ul>