<%

  opts = tokens.first.html
  
%>
<section class="subsection">
  <%= tag :h3, tokens.first %>
  <ul <%= attributize opts %>>
    <%= render :partial => 'tokens/default_token', :collection => tokens %>
  </ul>
</section>