<li>
  <h4><%= typed_name.name %></h4>
  <% unless typed_name.children.nil? %>
    <ul>
      <%= render :partial => 'tokens/typed_name', :collection => typed_name.children %>
    </ul>  
  <% else %>
  (<span class="types"><%= typed_name.types.map {|t| link_to(t) }.join ', ' %></span>)
  <div><%=replace_links typed_name.content %></div>
  <% end %>
</li>
