html, body {
  font-family: sans-serif, Arial;
  font-size: small;
}

body > section {
  border-top: 1px solid #ccc;
}

.signature {
  color: #aaaaff;
}

code {
  display: block;
  white-space: pre-wrap;  
  background: #f3f3f3;
}
