<article class="function"> 
  <header> 
    <h1>Core.logger.log <span class="flag">constructor</span></h1>
  </header> 
  
  <aside> 
    <p>test/js-files/core-doc.js:71</p> 
 
    <ul class="direct_environment"> 
      
      <li class="parent"><a href="../Core.html">Core</a> 
      
      <ul> 
        <li class="this"><a href="logger.html">logger</a><ul class="children"> 
          
            <li><a href="logger/log.html">log</a></li> 
          
        </ul> 
      </ul> 
    </ul> 
  </aside> 
 
  <p>Adds minimal logging functionality to <a href="../Core.html">Core</a></p> 
 
  <h2 class="signature">(Void) <span class='name'>Core.logger.log</span>(<span class='params'>msg</span>)</h2>
 
    <h3>Source</h3> 
  <code >log: function(msg) {
  if(!!window.console) {
    window.console.log(msg);
  }
}
</code> 
 
 
</article> 