<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Documentation</title>
    <%=style "application.css" %>
  </head>
  <body>
    <header>Some heading information</header>
      <%= yield %>
    <footer>Created with JSDoc for Ruby</footer>
  <body>
</html>
