<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Documentation</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis+Light' rel='stylesheet' type='text/css'>
    <%= style "application" %>
  </head>
  <body>
    <header id="header" class="s">
      <div class="wrapper">
        <nav>
          <h1>MyLogo</h1>
          
          <ul id="page-menu">
            <li><a href="/index.html">Documentation</a></li>
            <li><a href="/index.html">Fudel</a></li>
            <li><a href="#alphabetical overview">Api-Docs</a></li>
          </ul>
          
          <form>
            <input type="search" id="search" placeholder="search API-docs"/>
          </form>
        </nav>
        <section id="docs">
          <h1>Documents</h1>
          <ul>
            <li><a href="#"><span>Getting started</span></a></li>
            <li><a href="#"><span>Components</span></a></li>
            <li><a href="#"><span>Class system</span></a></li>
            <li><a href="#"><span>Architecture</span></a></li>
            <li><a href="#"><span>Customization</span></a></li>
            <li><a href="#"><span>Extension</span></a></li>
          </ul>
        </section>        
        <section id="api-browser">
          <h1>API-Browser</h1>
          <ul>
            <li class="object"><a href="#"><span>Core</span></a><ul>
              <li class="function"><a href="#"><span>extend</span></a>
              <li class="function"><a href="#"><span>extensions</span></a>
              <li class="object"><a href="#"><span>logger</span></a><ul>
                <li class="function"><a href="#"><span>log</span></a>
                <li class="function"><a href="#"><span>warn</span></a>
                <li class="function"><a href="#"><span>error</span></a>
                
              </ul>              
            </ul>
            <li class="object"><a href="#"><span>Action</span></a>
            <li class="object"><a href="#"><span>View</span></a>
            <li class="object"><a href="#"><span>Controller</span></a>
          </ul>
        </section>
        <a href="#" class="collapse">Collapse</a>      
        <a href="#" class="expand" style="display: none;">Expand</a>
      </div>
    </header>
    <div role="main" id="main">
      <%= yield %>
    </div>
    <footer id="footer">
      <div class="wrapper">
        Documentation created automagically with <a href="http://www.github.com/b-studios/jsdoc">JSDoc for Ruby</a>.
      </div>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script>
      var JSDOC = JSDOC || {};
      JSDOC.root = "<%= to_relative(Configs.output) + '/' %>";
      window.jQuery || document.write("<script src='"+JSDOC.root+"js/jquery.js'>\x3C/script>")
    </script>
    <%= script "jquery.treeview", "jquery.cookie", "application" %>
  <body>
</html>
